<h1>Hola Mundo</h1>
<!-- podemos insertar codigo javascript en el html usando los doble
{{expresion}} gracias a string interpolation -->
<h2>{{ "Hola mundo".toUpperCase() }}</h2>
<!-- tambien sirve para expresiones matematicas -->
<p>3 + 3= {{ 3 + 3 }}</p>
<!-- conectando con el archivo de logica app.component.ts -->
<p>Hola soy {{ name }} y tengo {{ age }}</p>
<!-- usando string interpolation para atributos de imagen -->
<img src="{{ img }}" alt="mujer" />
<hr />
<!-- property binding para manipular atributos desde el js -->
<h1>propiedades</h1>
<button [disabled]="btnDisabled">Enviar</button>
<input type="text" [value]="name" />
<progress max="100" [value]="age"></progress>
<!-- usando objetos -->
<input type="text" [value]="car.marca" />

<!-- eventos en angular usando () y funciones -->
<h1>Eventos</h1>
<button (click)="onSave()">Save</button>

<!-- lista de eventos
 click
scroll
 -->
<div class="box" (scroll)="onScroll($event)">
  <p>
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Unde recusandae
    inventore libero suscipit fugit dignissimos, alias, temporibus facere,
    deserunt minima excepturi adipisci commodi nesciunt dolores debitis nihil
    eum qui dolorum.
  </p>
</div>

<input type="text" (keyup)="onChange($event)" />

<h1>NG Model</h1>
<input type="text" required #nameInput="ngModel" [(ngModel)]="car.marca" />
<p>{{ nameInput.valid }}</p>

<!-- estructuras de control con angular con *ngIf-->
<h1>*ngIf</h1>
<p *ngIf="nameInput.valid; else elseBlock">my content</p>
<ng-template #elseBlock>
  <p>resultado de else</p>
</ng-template>

<!-- estructura *ngFor pra iterar elementos -->
<h1>gnFor</h1>
<ul>
  <li *ngIf="names.length === 0">No hay mas nombre</li>
  <li *ngFor="let name of names; index as i">
    {{ i }}{{ name }}
    <button (click)="deleteName(i)">Delete</button>
  </li>
</ul>
<input type="text" #newNameInput [(ngModel)]="newName" />
<button (click)="addName()">add name</button>
